{% extends "base.html" %} {% block content %}

<div class="about-container">
  <h1>About PhishGuard</h1>

  <p class="about-description">
    PhishGuard is an AI-powered phishing detection system developed to identify
    malicious URLs and protect users from phishing attacks. The system analyzes
    URL patterns using advanced machine learning and natural language processing
    techniques.
  </p>

  <h2>Technologies Used</h2>

  <div class="tech-container">
    <div class="tech-card">Python</div>

    <div class="tech-card">Flask</div>

    <div class="tech-card">BERT Transformer</div>

    <div class="tech-card">Machine Learning</div>

    <div class="tech-card">Random Forest</div>

    <div class="tech-card">HTML / CSS / JavaScript</div>
  </div>

  <h2>Project Goal</h2>

  <p class="about-description">
    The goal of this project is to build an intelligent system that detects
    phishing websites by analyzing URL structures and semantic patterns using
    artificial intelligence.
  </p>

  <h2>Developer</h2>

  <p class="developer">
    Developed by <br />

    <strong>Atharv Dixit</strong> <br />
    <strong>Rohan Bhujbal</strong> <br />
    <strong>Deesha Dhabale</strong> <br />
    <strong>Hemakshi Ingale</strong> <br />
  </p>
</div>

{% endblock %}
