{% extends "base.html" %} {% block content %}

<!-- HERO SECTION -->

<div class="hero">
  <h1>BERT based Phishing Detection</h1>

  <p>
    Detect malicious URLs instantly using advanced AI and cybersecurity
    analysis.
  </p>

  <a href="/scanner">
    <button class="scan-btn">Scan URL Now</button>
  </a>
</div>

<!-- FEATURES SECTION -->

<div class="features">
  <div class="feature-card">
    <h3>Smart URL Analysis</h3>

    <p>
      Our system analyzes URL structures and security patterns to detect
      phishing websites.
    </p>
  </div>

  <div class="feature-card">
    <h3>AI Detection</h3>

    <p>
      Powered by BERT transformer and machine learning models for accurate
      predictions.
    </p>
  </div>

  <div class="feature-card">
    <h3>Instant Results</h3>

    <p>Get real-time phishing detection results within seconds.</p>
  </div>
</div>

{% endblock %}
